@import url("styles/header.css");
:root{
    --cor-de-fundo: #FFC0E6;
    --branco: #FFFFFF;
    --azul:#6F64B8;
    --degrade:linear-gradient(160deg, #F576D2 35.49% #326589 165,37%);
}
body{
    background-color: var(--cor-de-fundo)
}
